*{
	padding: 0px;
	margin: 0px;
}
body{
	font-size: 14px;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Open Sans', sans-serif;
}
a, a:hover{
	text-decoration: none;
}
.section-space{
	padding: 80px 0px;
}
.sub-title{
    color: #fff;
    border-radius: 30px;24px
    line-height: ;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}
.main-title{
	font-size: 35px;
	line-height: 45px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	margin-top: 10px;
	margin-bottom: 20px;
}
.title-white{
	color: #fff;
}
.title-blue{
	color: #2e3b4e;
}

.body-text{
	font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: ;
}
.header-section .navbar span i{
	color: #e7526b!important;
	font-size: 20px;
}
/****header-section****/

.header-section{
	padding: 20px 0px 40px 0px;
	background: url(../images/Layer.png) center center no-repeat;
	background-size: cover;
}
.header-section .navbar{
	border-bottom: 1px solid #352836;
	padding: 0px;
}
.header-section .navbar-nav .nav-item .nav-link{
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	color: #fff;
	border-bottom: 4px solid transparent;
	padding: 0px 0px 30px 0px;
	transition: all ease 0.3s;
}
.header-section .navbar-nav{
	margin-top: 33px;
}
.header-section form{
	background-color: #fff;
	border-radius: 50px;
	padding: 0px 15px;
}
.header-section form .form-control{
	border-radius: 50px;
	border: none;
	padding: 15px 0px 15px 15px;
}
.header-section form .btn{
	border: none;
}
.header-section form .btn:hover{
	background: transparent;
}
.header-section form .btn i{
	color: #b6b6b6;
}
.header-section .navbar-nav .nav-item .nav-link:hover ,.header-section .navbar-nav .nav-item .nav-link:focus{
	border-bottom: 4px solid #fff;
	letter-spacing: 1px;
}
.header-section .navbar-nav .nav-item{
	margin-right: 20px;
}
.header-section .banner-section{
	padding: 150px 0px;
	text-align: right;
}
.header-section .banner-section h2{
	padding-left: 221px;
	padding-bottom: 20px;
}
.header-section .banner-section .btn{
	background-color: #8824cd;
	color: #fff;
	border-radius: 50px;
	font-size: 18px;
	border: none;
	font-weight: 600;
	padding: 15px 55px;
	font-family: "Open Sans", sans-serif;
	transition: all ease 0.3s;
	margin-bottom: 15px;
}
.header-section .banner-section .btn:hover{
	background: #e7526b;
	letter-spacing: 1px;
}
.header-section .banner-section p{
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	color: #e0d9da;
}
 /****feature-section****/
.feature-section{
 	background-color: #2e3b4e;
 }
 .feature-section .feature-card h5{
 	padding-bottom: 15px;
 }
.feature-section .feature-card{
 	margin: 50px 0px;
}
 .feature-section .feature-card p{
 	width: 100%;
 	font-size: 14px;
 	font-weight: 400;
 	line-height: 24px;
 	font-family: "Open Sans", sans-serif;
 	color: #cbced3;
 }

 /****feature-section****/

 /****pink-section****/
 .pink-section{
	background: url(../images/Pink.png) center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.pink-section .pink-title{
	padding: 50px 0px;
}
.pink-section .pink-title h2{
	font-weight: 300;
}
 .pink-section .pink-title p{
 	width: 36%;
 	margin: 0 auto;
 	font-size: 14px;
 	font-weight: 400;
 	line-height: 24px;
 	font-family: "Open Sans", sans-serif;
 	color: #fff;
 }
 .pink-section .pink-title .btn{
 	background-color: #fff;
	color: #d54c63;
	border-radius: 50px;
	font-size: 18px;
	border: none;
	font-weight: 600;
	padding: 15px 75px;
	font-family: "Open Sans", sans-serif;
	transition: all ease 0.3s;
	margin-top: 25px;
 }
 .pink-section .pink-title .btn:hover{
 	letter-spacing: 1px;
 }
/****about-section****/
.about-section .container{
	max-width: 99%;
	padding: 0px;
	margin: 0px;
}
.about-section .about-right{
	padding: 96px 257px 97px 80px ;
}
.about-section .about-left img{
	width: 100%;
}
.about-section .about-right h6{
	color: #2e3b4e;
	font-size: 16px;
	line-height: 26px;
	text-transform: none;
	font-weight: 400;
	margin-top: 15px;
}
.about-section .about-right p{
	font-size: 13px;
	line-height: 23px;
	margin-top: 15px;
	color: #2e3b4e;
}

 /****experience-section****/
.experience-section{
	background: url(../images/exbg.png) center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.experience-section .experience-title{
	padding: 50px 0px;
}
.experience-section .experience-title h2{
	font-weight: 300;
}
 .experience-section .experience-title p{
 	width: 50%;
 	margin: 0 auto;
 	font-size: 16px;
 	font-weight: 400;
 	line-height: 26px;
 	font-family: "Open Sans", sans-serif;
 	color: #9568a4;
 }
 .experience-section .experience-title .btn{
 	background-color: #8824cd;
	color: #fff;
	border-radius: 50px;
	font-size: 18px;
	border: none;
	font-weight: 600;
	padding: 15px 75px;
	font-family: "Open Sans", sans-serif;
	transition: all ease 0.3s;
	margin-top: 25px;
	margin-bottom: 15px;
 }
.experience-section .experience-title .btn:hover{
 	letter-spacing: 1px;
 }
/****article-section****/
.article-section{
	background: url(../images/Post.png) center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.article-section .article-left{
	padding-top: 250px;
}
.article-section .article-left span{
	background: transparent;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 50px;
	font-family: "Open Sans", sans-serif;
	font-size: 16px ;
	padding: 5px 30px;
}
.article-section .article-left h2{
	margin-top: 25px;
}
.article-section .article-left a{
	text-decoration: none;
	color: #fff;	
}
.article-section .article-left a img{
	margin-right: 15px;
}


/****about-2-section****/
.about-2-section .container{
	max-width: 99.2%;
	padding: 0px;
	margin: 0px;
}
.about-2-section .col-lg-5{
	padding: 0px;
}
.about-2-section .about-2-left{
	padding: 96px 217px 93px 110px ;
}
.about-2-section .about-2-left h6{
	color: #2e3b4e;
	font-size: 16px;
	line-height: 26px;
	text-transform: none;
	font-weight: 400;
	margin-top: 15px;
}
.about-2-section .about-2-right img{
	width: 100%;
	float: right;
}
.about-2-section .about-2-left p{
	font-size: 13px;
	line-height: 23px;
	margin-top: 15px;
	color: #2e3b4e;
}
/****footer-section****/
.footer-section{
	background-color: #e7526b;
}
.footer-section p{
	color: #f9d4da;
}
.footer-section ul{
	padding-left: 0rem;
}
.footer-section ul li{
	list-style-type: none;
}
.footer-section ul li a{
	color: #f9d4da;
	text-decoration: none;
	transition: all ease 0.3s;
}
.footer-section ul li a:hover{
	letter-spacing: 1px;
	color: #fff;
}
.footer-section ul li a i{
	margin-right: 10px;
}
.sub-footer-section{
	background-color: #2e3b4e;
	padding: 30px 0px 20px 0px;
	color: #fff;	
}
.sub-footer-section .Copyright p{
	font-size: 13px;

}

/****responsive-section****/
@media (min-width: 279px) and (max-width: 319px) {
	.header-section .navbar-nav .nav-item .nav-link{
		text-align: center;
	}
  
  .header-section .banner-section h2 {
	    padding-left: 0px;
	    text-align: center;
	}
	.header-section .banner-section {
	    padding: 100px 0px;
	    text-align: center;
	}
	.header-section .banner-section .btn{
		padding: 15px 40px;
	}
	.main-title {
	    font-size: 30px;
	    line-height: 40px;
	}
	.section-space {
	    padding: 40px 0px;
	}
	.feature-section {
	   text-align: center;
	}
	.pink-section .pink-title {
	    padding: 0px 0px;
	}
	.pink-section .pink-title p {
	    width: 100%;
	}
	.pink-section .pink-title .btn{
		padding: 15px 40px;
	}
	.about-section .about-right {
	    padding: 40px 20px 40px 20px;
	    text-align: center;
	}
	.experience-section .experience-title {
	    padding: 0px 0px;
	}
	.experience-section .experience-title p {
    	width: 100%;
    }
    .experience-section .experience-title .btn{
    	padding: 15px 40px;
    }
    .article-section .article-left {
	    padding-top: 150px;
	    text-align: center;
	}
	.article-section .article-left a{
		font-size: 14px;
	}
	.about-2-section .about-2-left {
	    padding: 40px 20px 40px 20px;
	    text-align: center;
	}
	.footer-section{
		text-align: center;
	}
		.about-section .container .row {
    	width: 100%;
    	--bs-gutter-x: 0rem;
  	}
  	.about-2-section .container .row {
    	width: 100%;
    	--bs-gutter-x: 0rem;
  	}
  	.about-section .col-lg-5{
  		width: 100%;
  		padding: 0px;
  	}
  	.about-2-section .col-lg-5{
  		width: 100%;
  		padding: 0px;
  	}
  
}
@media (min-width: 320px) and (max-width: 480px) {  
	 .header-section .banner-section h2 {
	    text-align: center;
	     padding-left: 0px;
	}
	.header-section .navbar-nav .nav-item .nav-link{
		text-align: center;
	}
	.header-section .banner-section {
	    padding: 100px 0px;
	    text-align: center;
	}
	.main-title {
	    font-size: 30px;
	    line-height: 40px;
	}
	.section-space {
	    padding: 40px 0px;
	}
	.feature-section {
	   text-align: center;
	}
	.pink-section .pink-title {
	    padding: 0px 0px;
	}
	.pink-section .pink-title p {
	    width: 100%;
	}
	.pink-section .pink-title .btn{
		padding: 15px 50px;
		}
	.about-section .about-right {
	    padding: 40px 20px 40px 20px;
	    text-align: center;
		}
		.about-section .container .row {
    	width: 100%;
    	--bs-gutter-x: 0rem;
  	}
  	.about-2-section .container .row {
    	width: 100%;
    	--bs-gutter-x: 0rem;
  	}
  	.about-section .col-lg-5{
  		width: 100%;
  		padding: 0px;
  	}
  	.about-2-section .col-lg-5{
  		width: 100%;
  		padding: 0px;
  	}
		.experience-section .experience-title {
	    padding: 0px 0px;
		}
		.experience-section .experience-title p {
    	width: 100%;
    }
    .experience-section .experience-title .btn{
    	padding: 15px 50px;
    }
    .article-section .article-left {
	    padding-top: 150px;
	    text-align: center;
	}
	.article-section .article-left a{
		font-size: 14px;
	}
	.about-2-section .about-2-left {
	    padding: 40px 20px 40px 20px;
	    text-align: center;
	}
	.footer-section{
		text-align: center;
	}
		  
}
@media (min-width: 481px) and (max-width: 767px) {
  
  .header-section .banner-section h2 {
	    padding-left: 0px;
	    text-align: center;
	}
	.header-section .navbar-nav .nav-item .nav-link{
		text-align: center;
	}
	.header-section .banner-section {
	    padding: 100px 0px;
	    text-align: center;
	}
	.main-title {
	    font-size: 30px;
	    line-height: 40px;
	}
	.section-space {
	    padding: 40px 0px;
	}
	.feature-section {
	   text-align: center;
	}
	.pink-section .pink-title {
	    padding: 0px 0px;
	}
	.pink-section .pink-title p {
	    width: 100%;
	}
	.pink-section .pink-title .btn{
		padding: 15px 50px;
	}
	.about-section .about-right {
	    padding: 40px 20px 40px 20px;
	    text-align: center;
	}
	.experience-section .experience-title {
	    padding: 0px 0px;
	}
	.experience-section .experience-title p {
    	width: 100%;
    }
    .experience-section .experience-title .btn{
    	padding: 15px 50px;
    }
    .article-section .article-left {
	    padding-top: 150px;
	    text-align: center;
	}
	.article-section .article-left a{
		font-size: 14px;
	}
	.about-2-section .about-2-left {
	    padding: 40px 20px 40px 20px;
	    text-align: center;
	}
	.footer-section{
		text-align: center;
	}
	.about-section .container .row {
    	width: 100%;
    	--bs-gutter-x: 0rem;
  	}
  	.about-2-section .container .row {
    	width: 100%;
    	--bs-gutter-x: 0rem;
  	}
  	.about-section .col-lg-5{
  		width: 100%;
  		padding: 0px;
  	}
  	.about-2-section .col-lg-5{
  		width: 100%;
  		padding: 0px;
  	}
  
}
@media (min-width: 768px) and (max-width: 1024px) {
  
  .header-section .banner-section h2 {
	    padding-left: 0px;
	    text-align: center;
	}
	.header-section .navbar-nav .nav-item .nav-link{
		text-align: center;
	}
	.header-section .banner-section {
	    padding: 100px 0px;
	    text-align: center;
	}
	.main-title {
	    font-size: 35px;
	    line-height: 45px;
	}
	.section-space {
	    padding: 40px 0px;
	}
	.feature-section {
	   text-align: center;
	}
	.pink-section .pink-title {
	    padding: 0px 0px;
	}
	.pink-section .pink-title p {
	    width: 100%;
	}
	.pink-section .pink-title .btn{
		padding: 15px 50px;
	}
	.about-section .about-right {
	    padding: 40px 20px 40px 20px;
	    text-align: center;
	}
	.experience-section .experience-title {
	    padding: 0px 0px;
	}
	.experience-section .experience-title p {
    	width: 100%;
    }
    .experience-section .experience-title .btn{
    	padding: 15px 50px;
    }
    .article-section .article-left {
	    padding-top: 150px;
	    text-align: center;
	}
	.article-section .article-left a{
		font-size: 14px;
	}
	.about-2-section .about-2-left {
	    padding: 40px 20px 40px 20px;
	    text-align: center;
	}
	.footer-section{
		text-align: center;
	}
	.footer-section .col-lg-2{
		width: 50%;
		margin: 15px 0px;
	}
	.footer-section .col-lg-4{
		width: 50%;
		margin: 15px 0px;
	}
	.about-section .container .row {
    	width: 100%;
    	--bs-gutter-x: 0rem;
  	}
  	.about-2-section .container .row {
    	width: 100%;
    	--bs-gutter-x: 0rem;
  	}
  	.about-section .col-lg-5{
  		width: 100%;
  		padding: 0px;
  	}
  	.about-2-section .col-lg-5{
  		width: 100%;
  		padding: 0px;
  	}
  
}

							